@model CharacterViewModel

@{
    ViewData["Title"] = "Character Page";
}

<div class="text-center">
    <div class="container">
        <div class="row text-left" style="padding-bottom: 1px;">
            <div class="col-md-12 col-lg-12 mb-12 mb-lg-auto">
                <button type="button" class="btn btn-outline-dark" onclick="goBack()">Go Back</button>
                @*<a class="btn btn-outline-dark" asp-action="Index" asp-controller="Home">Go Back 2</a>*@
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-0 shadow">
                    <img src="@Model.SuperHero.Image.Url">
                    <div class="card-body p-1-9 p-xl-5">
                        <div class="mb-4">
                            <h3 class="h4 mb-0">@Model.SuperHero.Name</h3>
                            <span class="text-primary">@Model.SuperHero.Biography.FullName</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-3">@Model.SuperHero.Biography.PlaceOfBirth</li>
                            <li>@Model.SuperHero.Biography.Publisher</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 text-primary">Power Stats</h2>
                    </div>
                    <div class="progress-style1">                        
                        @{ PowerStatsBar("Intelligence", Model.SuperHero.Powerstats.Intelligence);}

                        @{ PowerStatsBar("Strength", Model.SuperHero.Powerstats.Strength);}

                        @{ PowerStatsBar("Speed", Model.SuperHero.Powerstats.Speed);}

                        @{ PowerStatsBar("Durability", Model.SuperHero.Powerstats.Durability);}

                        @{ PowerStatsBar("Power", Model.SuperHero.Powerstats.Power);}

                        @{ PowerStatsBar("Combat", Model.SuperHero.Powerstats.Combat);}
                    </div>
                </div>
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6">
                        <h2 class="h1 mb-0 text-primary">Aliases</h2>
                    </div>
                    @for (int x = 0; x < Model.SuperHero.Biography.Aliases.Count; x++)
                    {
                        <span class="badge badge-secondary">@Model.SuperHero.Biography.Aliases[x]</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@{
    void PowerStatsBar(string powerStatsName, string powerStatsValue)
    {
        <div class="progress-text">
            <div class="row">
                <div class="col-6 fw-bold">@powerStatsName</div>
                @if (@powerStatsValue.Equals("null") || (powerStatsValue.Length == 0))
                {
                    <div class="col-6 text-end">0</div>
                }
                else
                {
                    <div class="col-6 text-end">@powerStatsValue</div>
                }
            </div>
        </div>
        <div class="progress mb-4">
            @if (@powerStatsValue.Equals("null") || (@powerStatsValue.Length == 0))
            {
                <div class="progress-bar bg-danger" style="width:0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
            }
            else if (Convert.ToInt32(@powerStatsValue) <= 30)
            {
                <div class="progress-bar bg-danger" style="width:@powerStatsValue%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
            }
            else if (Convert.ToInt32(@powerStatsValue) > 30 && Convert.ToInt32(@powerStatsValue) <= 70)
            {
                <div class="progress-bar bg-warning" style="width:@powerStatsValue%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
            }
            else
            {
                <div class="progress-bar bg-success" style="width:@powerStatsValue%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
            }
        </div>
    }
}

<script>
    function goBack() {
        window.history.back();
    }
</script>